
<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Pathanamthitta | District Guide</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'tourism/css/style.css' %}">
    <style>
       ::-webkit-scrollbar{
    display: none;
 }
 html{
    scrollbar-width: none;
 }
 body{
    -ms-overflow-style: none;
 }
      .modal-body{
        max-height:70vh;
        overflow-y:auto;
      }
      .card{
        border:none;
        border-radius:12px;
        transition: 0.3s ease;
      }
      .place-card{
        transition: 0.3s ease;
      }
      .card:hover{
        transform:translateY(-3px);
        transition:0.3s;
      }
      </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg glass-nav sticky-top" style="background: var(--primary);">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex me-auto" href="#">
      <i class="bi bi-geo-alt"></i>
      Explore PTA
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="bi bi-house-door"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tags">
            <i class="bi bi-pin-map"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% if user.is_authenticated %}
        <li><span class="dropdown-item">{{ user.username }}</span></li>
        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
        <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
    {% endif %}
          </ul>
        </li>
         <li class="nav-item">
    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#allReviewsModal">
        <i class="bi bi-chat-square-text"> </i>
    </a>
</li>
        <li class="nav-item d-flex align-items-center ms-3">
  <button id="themeToggle" class="btn btn-sm border-0">
    <i class="bi bi-moon-fill"></i>
  </button>
</li>

      </ul>
    </div>
  </div>
</nav>


    <header class="hero">
        

        <div id="carouselExample" 
        class="carousel slide carousel-fade"
       data-bs-ride="carousel"
       data-bs-interval="3000"
       data-bs-touch="true"
       data-bs-pause="false"
        >
  <div class="carousel-inner">
    <div class="carousel-item active">
      
       <div class="dest-img" style="background-image: url('https://www.keralatourism.org/uploads/sabarimala/desktop/ezhunnellathu-to-saramkuthi-2-20241007140950219498.webp');"></div>
        
    </div>
    <div class="carousel-item">
      
       <div class="dest-img" style="background-image: url('https://www.gavikakkionline.com/uploads/photos/59f30b08ec931-3f4834a6e864a695426cedfa805cea70-1200x_.jpg');"></div>
    </div>
    <div class="carousel-item">
      
       <div class="dest-img" style="background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/6f/66/9c/caption.jpg');"></div>
    </div>
    <div class="carousel-item">
       <div class="dest-img" style="background-image: url('https://files.yappe.in/place/full/chengara-view-point-7544103.webp');"></div>
    </div>
    <div class="carousel-item">
       <div class="dest-img" style="background-image: url('https://www.keralatourism.org/_next/image/?url=http%3A%2F%2F127.0.0.1%2Fktadmin%2Fimg%2Fpages%2Flarge-desktop%2Fchuttippara-hill-station-1727361697_1e4f9d1725cdc9cbb108.webp&w=1920&q=75');"></div>
    </div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <div class="hero-overlay"></div>
  <div class="hero-content container">
    <span class="hero-tag animate fade-up delay-1">
        <i class="bi bi-signpost-2-fill"></i>
        LET'S GO
    </span>
    <h1 class="hero-title animate fade-up delay-2">
      EXPLORE YOUR <br>
      FAVORITE DESTINATION
    </h1>
    <p class="hero-subtitle animate fade-up delay-3">
      Discover beautiful places & hidden gems across Pathanamthitta
       and experience nature,
      heritage and spirituality.
    </p>
  </div>


    </header>
    <!--  -->
<section class="py-5 bg-body-tertiary">
  <div class="container">

    <div class="row align-items-center">
      
      <div class="col-lg-8">
        <h2 class="mb-3 fw-bold">Discover Pathanamthitta</h2>
        <p class="lead">
          Nestled in the heart of Kerala, Pathanamthitta is known for its
          lush forests, sacred pilgrimage centers, serene waterfalls, and
          hidden hill viewpoints. From the spiritual aura of Sabarimala to
          the tranquil beauty of Gavi and Perunthenaruvi, the district offers
          a perfect blend of nature, heritage, and devotion.
        </p>
        <p>
          This guide helps travelers explore the most significant and lesser-known
          destinations across the district, providing essential travel details,
          nearby facilities, and easy map access — making every journey smoother
          and more informed.
        </p>
      </div>

    </div>

  </div>
</section>

<!--  -->

<div class="container my-4">
  <div class="filter-wrapper">

    <button id="filterToggle" class="btn btn-outline-primary mb-2">
      Filter
      <i class="bi bi-funnel"></i>
    </button>

    <div id="filterOptions" class="filter-options">
      <button class="btn all-btn filter-btn" data-filter="all">All</button>
      <button class="btn nature-btn filter-btn" data-filter="nature">Nature</button>
      <button class="btn heritage-btn filter-btn" data-filter="heritage">Heritage</button>
      <button class="btn pilgrimage-btn filter-btn" data-filter="pilgrimage">Pilgrimage</button>
      <button class="btn hidden-btn filter-btn" data-filter="hidden">Hidden</button>
    </div>

  </div>
</div>



<main class="gallery py-5">
 
  <div class="container" id="tags">

    <h2 class="text-center mb-4">Discover Places</h2>


    <div class="row g-4">

<!--  -->
      {% for place in places %}
<div class="col-12 col-sm-6 col-md-4 col-lg-3 place-card" data-category="{{place.category}}">
  <div class="card gallery- h-80">
    <div class="gallery-img-wrapper">
      <img src="{{place.hero_image}}" class="card-img-top">
      <!-- <span class="badge bg-{{place.badge_color}} place-badge">
        {{place.category}}
      </span> -->
    </div>
    <div class="card-body d-flex flex-column">
      <h5>{{place.name}}</h5>
      <p>{{place.tagline}}</p>
      <div class="d-flex justify-content-center flex-sm-row gap-5 mt-auto">
            <a href="{% url 'place_detail' place.id %}" class="btn btn-sm btn-primary">
                <i class="bi bi-file-text me-1"></i> Details
            </a>
        {% if place.latitude and place.longitude %}
            <a href="https://www.google.com/maps?q={{place.latitude}},{{place.longitude}}"
                target="_blank"
                class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-geo-alt-fill me-1"></i> Map
            </a>
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% endfor %}
    </div>
     
  </div>
 
</main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'tourism/js/script.js' %}"></script>
<script>
// document.addEventListener("DOMContentLoaded", function() {

//     const savedTheme = localStorage.getItem("theme");

//     if (savedTheme === "dark") {
//         document.body.classList.add("dark-mode");
//     } else {
//         document.body.classList.remove("dark-mode");
//     }

// });


// const toggleBtn = document.getElementById("themeToggle");

// if (toggleBtn) {
//     toggleBtn.addEventListener("click", () => {

//         document.body.classList.toggle("dark-mode");

//         if (document.body.classList.contains("dark-mode")) {
//             localStorage.setItem("theme", "dark");
//         } else {
//             localStorage.setItem("theme", "light");
//         }

//     });
// }

// Load saved theme on page load
document.addEventListener("DOMContentLoaded", () => {

    const savedTheme = localStorage.getItem("theme");

    if (savedTheme === "dark") {
        document.body.classList.add("dark-mode");
    }

});

// Toggle theme
toggleBtn.addEventListener("click", () => {

    document.body.classList.toggle("dark-mode");

    if (document.body.classList.contains("dark-mode")) {
        localStorage.setItem("theme", "dark");
    } else {
        localStorage.setItem("theme", "light");
    }

});

document.getElementById("filterToggle").addEventListener("click", function() {

  const options = document.getElementById("filterOptions");

  if (options.style.display === "none") {
    options.style.display = "flex";
  } else {
    options.style.display = "none";
  }

});

const filterButtons = document.querySelectorAll(".filter-btn");
const cards = document.querySelectorAll(".place-card");

filterButtons.forEach(button => {

  button.addEventListener("click", () => {

    // Active button highlight
    filterButtons.forEach(btn => btn.classList.remove("active"));
    button.classList.add("active");

    const filterValue = button.getAttribute("data-filter");

    cards.forEach(card => {

      const category = card.getAttribute("data-category");

      if (filterValue === "all" || category === filterValue) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }

    });

  });

});

</script>

<div class="modal fade" id="allReviewsModal" tabindex="-1">
<div class="modal-dialog modal-lg modal-dialog-scrollable">

<div class="modal-content">

<div class="modal-header">
<h5 class="modal-title"><i class="bi bi-star-half"></i> Popular Reviews</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

{% for review in reviews %}

<div class="card mb-3 shadow-sm">

<div class="card-body">

<h6 class="fw-bold">
<i class="bi bi-geo"></i>
  {{ review.place.name }}
</h6>

<p class="mb-2">
{{ review.review_text }}
</p>

<div class="d-flex justify-content-between">

<span class="text-warning">
<i class="bi bi-star-fill"></i>
  {{ review.rating }}/5
</span>

<small class="text-muted">
by {{ review.user.username }}
</small>

</div>

</div>

</div>

{% empty %}

<p>No reviews yet.</p>

{% endfor %}

</div>

</div>
</div>
</div>
</body>
</html>